.footer {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.developer {
    font-weight: bolder;
    transition: 0.3s;
    position: relative;
}

.developer:hover {
    font-size: 1.1rem;
    text-decoration: underline;
}
