.footer {
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.developer {
    font-weight: bolder;
    transition: 0.3s;
    position: relative;
    animation: underline 3s infinite;
}

.developer:hover {
    font-size: 1.1rem;
    text-decoration: underline;
    background: -webkit-linear-gradient(var(--cor-fonte-post), var(--azul-medio));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes underline {
    0% {
        text-decoration: none;
    }

    50% {
        text-decoration: underline;
    }

    100% {
        text-decoration: none;
    }
}
