.navigation {
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
}

.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--cor-fonte-principal);
    opacity: 0.8;
    transition: 0.3s;
    position: relative;
}

.link.active {
    opacity: 1;
}

.link.active::after {
    content: "";
    display: flex;
    width: 100%;
    height: 0.1rem;
    background: var(--cor-fonte-principal);
    margin: auto;
    box-sizing: border-box;
    animation: width 0.3s;
    position: absolute;
    top: 82%;
}

@keyframes width {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media (max-width: 744px) {
    .navigation {
        height: 72px;
    }
}
