@import './variables';

html,
body {
  background: $background_color;
  font-family: $main_font;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

main 
{
  max-width: 90vw;
  margin: 4rem auto;
  padding: 0;

}

::-webkit-scrollbar {
  width: 0px;
}