// Base 
$background_color: #F5F5F5;
// Fonts
$main_font: 'Roboto', sans-serif;
// Fonts Size
$font_size_1: 4rem;
// Base Colors
$primary_color: #7286D3;
$secondary_color: #8EA7E9;
$tertiary_color: #E5E0FF;
$black: #000;
$white: #fff;
// Hover Colors
$hover_primary_color: #4a578a;
$hover_secondary_color: #5b6b95;
$hover_tertiary_color: #b8b4cd;



