.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: var(--white);
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--header-border-mobile);
}

.header__logo {
    margin-bottom: 1rem;
}

.header__navigation {
    text-align: center;
}

.header__link {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 0.7rem 1.25rem 0.7rem;
}
