.caller {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    text-align: center;
    background-color: var(--mobile-call-bg);
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
}

.caller__title {
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.caller__text {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

.caller__button {
    width: 100%;
}
