:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    height: 100vh;
}

.container__button {
    display: block;
    background: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    cursor: pointer;
}

.container__button--secondary {
    background: transparent;
    border: 2px solid var(--branco-principal);
}
