.organization__title {
    color: #6278f7;
    font-family: "Prata", serif;
    text-align: center;
    margin: 1.5rem;
    font-size: 2.5rem;
}

.organization__line {
    display: flex;
    justify-content: center;
    background: #6278f7;
    width: 4%;
    margin: auto;
    color: #6278f7;
    line-height: 34%;
}

.team__container {
    text-align: center;
    padding: 2rem;
}

.team__title {
    display: inline-block;
    font-family: "Prata", serif;
    font-size: 2rem;
    border-bottom: 4px solid;
}

.team__collaborators {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
}
