:root {
  --azul-claro: #339cff;
  --azul-escuro: #0b3b60;
  --branco: #ffffff;
  --cinza: #6b6e71;
  --cinza-claro: #e7ebef;
  --fonte-principal: "Public Sans", sans-serif;
  --fonte-secundaria: "Archivo", sans-serif;
}

body,
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
