@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;400&display=swap");
@import url(reset.css);

:root {
    --white: #fff;
    --primary_color: #dfd3c3;
    --background_color: linear-gradient(55deg, #85586f 85%, #513d47 60%);
    --font_family: "Chivo Mono", monospace;
    --font_color: #000;
    --text_shadow: 2px 2px 1px black;
}

body {
    display: flex;
    font-family: var(--font_family);
    background-image: var(--background_color);
    color: var(--font_color);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--primary_color);
    height: 30vh;
    width: 90vw;
    margin: auto;
    text-align: center;
}

h1 {
    font-size: 6rem;
    margin-bottom: 2rem;
    text-shadow: var(--text_shadow);
}

h2 {
    font-size: 5rem;
    text-shadow: var(--text_shadow);
}

.victory__message,
.gameover__message {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: var(--primary_color);
}

h3 {
    font-size: 3rem;
    font-weight: 100;
    text-shadow: var(--text_shadow);
}

.message {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 4rem 0 0 0;
    text-shadow: var(--text_shadow);
}

.box {
    font-size: 4rem;
    padding: 1rem;
}

.restart__button {
    background: var(--primary_color);
    color: var(--font_color);
    padding: 15px;
    border-radius: 5px;
    margin: 5rem;
    font-size: 3rem;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #85586f;
}

.restart__button:hover {
    outline: none;
    border: 1px solid var(--primary_color);
    background: #85586f;
    color: var(--primary_color);
}
