@charset "UTF-8";
@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(topics.css);
@import url(contact.css);
@import url(footer.css);

:root {
    --background-color: #ebecee;
    --white: #fff;
    --orange: #eb9b00;
    --poppins: "Poppins", sans-serif;
    --gradient: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --blue: #002f52;
}

body {
    background-color: var(--background-color);
    font-family: var(--poppins);
}

canvas {
    background-color: white;
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 95.5rem;
}
