@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf); 
}

body {
    background: #1D232A;
    color: #fff;
    font-family: 'Open Sans', 'icones',sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header__menu {
    transition: .3s;
}

.header__menu i::before {
    content:  '\e904';
    font-size: 1.5rem;
}

.header__menu.side-menu__isShowing {
    color: #95999C;
    transition: .3s;
    transform: rotatey(180deg);
}

.header__logo {
    width: 40px;
    transition: .6s;
}

.header__logo.logo-disappear {
    opacity: .05;
    transform: scale(.5);
    transition: .3s;
}

.header__notification i::before {
    content: '\e906';
    font-size: 1.5rem;
}

.side-menu {
    display: flex;
    flex-flow: column wrap;
    background: #15191C;
    width: 75vw;
    height: 180vh;
    position: absolute;
    transform: translateX(0rem);
    transition: transform .5s cubic-bezier(0.03, 0.82, 0.62, 1.18);
    z-index: 10;
}

.side-menu.hidden {
    transform: translateX(-20rem);
    transition: transform .5s cubic-bezier(0.42, -0.24, 1, 0.27);
}

.side-menu__logo {
    align-self: center;
    width: 7.4rem;
    padding: 1rem;
}

.side-menu__link {
    display: flex;
    align-items: center;
    color:#95999C;
    height: 4rem;
    padding-left: 64px;
}

.side-menu__link--active {
    color: #fff;
    padding-left: 56px;
    border-left: 8px solid white;
}

.side-menu__link::before {
    content: '';
    position: absolute;
    left: 24px;
    height: 24px;
    width: 24px;
    font-size: 24px;
}

.side-menu__link--home::before {
    content: "\e902";
}

.side-menu__link--videos::before {
    content: "\e90e";
}

.side-menu__link--peaks::before {
    content: '\e908';
}

.side-menu__link--members::before {
    content: '\e903';
}

.side-menu__link--shirts::before {
    content: '\e900';
}

.side-menu__link--paintings::before {
    content: '\e90a';
}

.main {
    display: grid;
    gap: 16px;
    padding: 24px 16px;
    transition: .6s;
}

.main.defocused {
    filter: blur(2px);
    transition: .3s;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.card {
    background: #2C343A;
    overflow-x: hidden;
    width: 100%;
    border-radius: 15px;
    margin-top: 20px;
}

.card--featured {
    margin-bottom: 16px;
}

.card__content {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 16px;
    gap: 8px;
    column-gap: 24px;
}

.card__featured {
    height: 32px; 
    grid-column: span 2;
}

.card__title {
    grid-column: span 2;
    font-weight: 700;
    font-size: 18px;
    height: 24px;
} 

.card__author {
    grid-column: span 2;
    color: #95999C;
    font-size: 14px;
    height: 24px;
}

.card__info {
    font-size: 14px;
    height: 24px;
    color: #95999C;
}

.card__info--time::before {
    content: '\e90c';
    margin: 0 4px 0 0;
    font-size: 15px;
    position: relative;
    top: 2px;
}

.card__info--views::before {
    content: '\e90f';
    margin: 0 4px 0 0;
    font-size: 15px;
    position: relative;
    top: 2px;
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0480DC;
    border-radius: 10px;
    height: 40px;
    width: 40px;
    font-size: .9rem;
    padding-left: 6px;
    justify-self: flex-end;
}

.card__button--featured {
    border-radius: 8px;
    padding: 8px;
    height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    grid-column: span 2;
}

.card__button--play::before {
    content: '\e90b';
    font-size: 24px;
    font-weight: 100;
    margin-right: 8px;
}

.card__container {
    display: grid;
    gap: 16px;
}

.card__container__title {
    font-weight: 700;
    font-size: 1.2rem;
}