@import '../../styles/variables';

.footer {
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
width: 100vw;
max-width: 100vw;
bottom: 0;
background-color: $azul-rodape;
padding: 1.5rem;
color: #fff;
box-sizing: border-box;
box-shadow: 0px -2px 30px rgba($color: #000000, $alpha: 0.5);;


    &__icons__container {
        display: flex;
        gap: 2rem;
        align-items: baseline;
        width: 10%  ;
    }   

        &__icons:hover {
           transform: scale(1.1);
           opacity: .8;
           transition: .3s;
        }
}
 


 p {
    font-family: $fonte-normal;
    margin: 0;

    a {
        font-weight: bolder;
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        transition: .3s;
        opacity: .8;
        text-decoration: underline;
    }
}