.pedidos__container {
  padding: 32px;
}

.pedidos__title {
  margin-top: 0;
}

.pedido {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 50vw;
  max-width: 60vw;
  border-bottom: 1px solid #002f52;
  padding: 12px;
}

.pedido__excluir {
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
  border: none;
  background: #002f52;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.3s;
  opacity: 0.7;
}

.pedido__excluir:hover {
  background: #0061ab;
  opacity: 1;
}
