.header__link {
    color: var(--white);
    text-decoration: none;
    transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    font-size: 1.125rem;
}

.header__link:hover {
    opacity: 0.8;
}

.header__link.active {
    font-weight: 500;
    text-decoration: underline;
}
